<section class="about">
  <div class="about-wrap container">
    <h2 class="about-title">About the Game</h2>
    <div class="about-list-wrap">
      <ul class="about-list">
        <li class="point point-left">
          <picture>
            <source
              media="(max-width: 375px)"
              srcset="
                ./img/about/about-left-mobile.png    1x,
                ./img/about/about-left-mobile@2x.png 2x
              "
              width="68"
              height="84"
            />
            <img
              srcset="
                ./img/about/about-left.png    1x,
                ./img/about/about-left@2x.png 2x
              "
              src="./img/about/about-left.png"
              alt="funny girl"
              width="200"
              height="231"
            />
          </picture>
        </li>
        <li class="point point-center">
          <picture>
            <source
              media="(max-width: 375px)"
              srcset="
                ./img/about/about-center-mobile.png    1x,
                ./img/about/about-center-mobile@2x.png 2x
              "
              width="68"
              height="84"
            />
            <img
              srcset="
                ./img/about/about-center.png    1x,
                ./img/about/about-center@2x.png 2x
              "
              src="./img/about/about-center.png"
              alt="funny girl"
              width="68"
              height="84"
            />
          </picture>
        </li>
        <li class="point point-right">
          <picture>
            <source
              media="(max-width: 375px)"
              srcset="
                ./img/about/about-right-mobile.png    1x,
                ./img/about/about-right-mobile@2x.png 2x
              "
              width="22"
              height="21"
            />
            <img
              srcset="
                ./img/about/about-right.png    1x,
                ./img/about/about-right@2x.png 2x
              "
              src="./img/about/about-right.png"
              alt="funny girl"
              width="69"
              height="70"
            />
          </picture>
        </li>
      </ul>
      <div class="about-text-wrap">
        <h3 class="about-subtitle">Easy to start, hard to stop</h3>
        <p class="about-text">
          Wonder Tiles: Match 3 Puzzle delivers a classic match-3 experience
          focused on smooth gameplay and satisfying visual feedback. Players
          clear tiles, complete level goals, and move through increasingly
          engaging challenges. You know how it is - you tell yourself 'just one
          level' and suddenly it's been 30 minutes.
        </p>
      </div>
    </div>
  </div>
</section>
