<section class="reviews-section" id="reviews">
  <div class="container reviews-wrapper">
    <h2 class="reviews-title">Player Reviews</h2>

    <div class="reviews-slider-box">
      <button
        class="reviews-slider-button-prev"
        type="button"
        aria-label="Previous slide"
        data-nav="reviews-slider-button-prev"
      >
        <svg class="reviews-slider-btn-arrow">
          <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
        </svg>
      </button>

      <div class="swiper reviews-swiper" id="reviews-swiper">
        <div class="swiper-wrapper review-swiper-wrapper">
          <!-- SLIDE 1 -->
          <div class="swiper-slide">
            <div class="review">
              <div class="review-top">
                <picture class="review-img">
                  <!-- MOBILE -->
                  <source
                    media="(max-width: 1439px)"
                    srcset="
                      ./img/reviews/m_tile_master.png    1x,
                      ./img/reviews/m_tile_master@2x.png 2x
                    "
                  />

                  <!-- DESKTOP RETINA -->
                  <source
                    media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
                           (min-width: 1440px) and (min-resolution: 192dpi),
                           (min-width: 1440px) and (min-resolution: 2dppx)"
                    srcset="./img/reviews/tile_master@2x.png 2x"
                  />

                  <!-- DESKTOP NORMAL -->
                  <img src="./img/reviews/tile_master.png" alt="TileMaster" />
                </picture>

                <div class="review-author-info">
                  <span class="review-author-name">TileMaster</span>
                  <div class="review-raiting">
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                  </div>
                </div>
              </div>

              <p class="review-text">
                “Love how smooth everything feels! Those big combo chains are so
                satisfying to pull off.”
              </p>
            </div>
          </div>

          <!-- SLIDE 2 -->
          <div class="swiper-slide">
            <div class="review">
              <div class="review-top">
                <picture class="review-img">
                  <source
                    media="(max-width: 1439px)"
                    srcset="
                      ./img/reviews/m_anna_p.png    1x,
                      ./img/reviews/m_anna_p@2x.png 2x
                    "
                  />

                  <source
                    media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
                           (min-width: 1440px) and (min-resolution: 192dpi),
                           (min-width: 1440px) and (min-resolution: 2dppx)"
                    srcset="./img/reviews/anna_p@2x.png 2x"
                  />

                  <img src="./img/reviews/anna_p.png" alt="Anna P." />
                </picture>

                <div class="review-author-info">
                  <span class="review-author-name">Anna P.</span>
                  <div class="review-raiting">
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#icon-star-outline"></use>
                    </svg>
                  </div>
                </div>
              </div>

              <p class="review-text">“Simple but really addictive.”</p>
            </div>
          </div>

          <!-- SLIDE 3 -->
          <div class="swiper-slide">
            <div class="review">
              <div class="review-top">
                <picture class="review-img">
                  <source
                    media="(max-width: 1439px)"
                    srcset="
                      ./img/reviews/m_match_fun.png    1x,
                      ./img/reviews/m_match_fun@2x.png 2x
                    "
                  />

                  <source
                    media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
                           (min-width: 1440px) and (min-resolution: 192dpi),
                           (min-width: 1440px) and (min-resolution: 2dppx)"
                    srcset="./img/reviews/match_fun@2x.png 2x"
                  />

                  <img src="./img/reviews/match_fun.png" alt="Match Fun" />
                </picture>

                <div class="review-author-info">
                  <span class="review-author-name">Match Fun</span>
                  <div class="review-raiting">
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                    <svg class="review-star">
                      <use href="/img/icons/sprite.svg#star-full"></use>
                    </svg>
                  </div>
                </div>
              </div>

              <p class="review-text">
                “Been playing this during my lunch breaks - never gets old!”
              </p>
            </div>
          </div>
        </div>
      </div>

      <button
        class="reviews-slider-button-next"
        type="button"
        aria-label="Next slide"
        data-nav="reviews-slider-button-next"
      >
        <svg class="reviews-slider-btn-arrow">
          <use href="/img/icons/sprite.svg#icon-back-mobile"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
