.policies-wrapper {
  padding: 30px 0;
}
.policies-title {
  font-family: var(--fredoka-font-family);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 16px;
}

.policies-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  color: var(--body-privacy);
}

.policies-desc-end {
  margin-bottom: 16px;
}

.policies-subtitle {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 16px;
}

.policies-definitions {
  margin-bottom: 26px;
}

.policies-definitions-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 26px;
}

.policies-item {
  font-weight: 800;
  font-size: 18px;
  color: #fff;
}

.policies-ul {
  list-style-type: circle;
}
