.policies-body {
  background: radial-gradient(
    34.59% 62.78% at 50% 40.11%,
    var(--radial-gradient-from-to)
  );
}

.policies-wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
  overflow-wrap: anywhere;
  word-break: break-word;
}
.policies-title {
  font-family: var(--fredoka-font-family);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 16px;
}

.policies-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  color: var(--body-privacy);
}

.policies-desc-end {
  margin-bottom: 16px;
}

.policies-subtitle {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 16px;
}

.policies-definitions-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.policies-item {
  font-weight: 800;
  font-size: 18px;
  color: #fff;
}

.policies-ul {
  list-style-type: disc;
  padding-left: 28px;
}

@media (max-width: 340px) {
  .policies-title {
    font-size: 24px;
  }

  .policies-subtitle {
    font-size: 18px;
  }

  .policies-desc {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .policies-title {
    font-size: 80px;
    margin-bottom: 24px;
  }

  .policies-desc {
    font-size: 32px;
    line-height: 1.6;
  }

  .policies-desc-end {
    margin-bottom: 24px;
  }

  .policies-subtitle {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .policies-definitions-title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .policies-item {
    font-size: 32px;
  }

  .policies-ul {
    padding-left: 46px;
  }
}
